beautifulsoup4==4.12.2
dash==2.8.1
dash_auth==1.4.1
dash_bootstrap_components==1.4.0
dash_core_components==2.0.0
dash_daq==0.5.0
dash_html_components==2.0.0
fear_and_greed==0.4
Flask==2.2.3
Flask_Login==0.6.2
Flask_MySQLdb==1.0.1
MySQL-python==1.2.5
mysql_connector_repackaged==0.3.1
nltk==3.7
numpy==1.21.5
pandas==1.4.4
pandas_ta==0.3.14b0
plotly==5.9.0
python-dotenv==1.0.0
requests==2.28.1
tweepy==4.12.1
yfinance==0.2.12
gunicorn
dash-tools
